{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>All collections</h1>
      </div>
    </div>
  {% for collection in collections %}
    <div class="row pt-4">
      <div class="col-12">
        <h2><a class="action" href="{{ url_for('collection.view', id=collection['id']) }}">
          {{ collection['title'] }}</a> <small>owned by {{ collection['username'] }}</small></h2>
        <p>
          <span class="badge badge-secondary">{{ collection.count }} item{% if collection.count != 1 %}s{% endif %}</span>
        </p>
        <p>{{ collection['description'] | markdown }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
