{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ collection['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or collection['title'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or collection['description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
{% endblock %}
