{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row"><div class="page-header">
      <h3>Edit "{{ collection['title'] }}"</h3>
    </div></div>
    <div class="row"><div class="col-12">
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label for="title" class="col-2 control-label">Title</label>
          <div class="col-10">
            <input class="form-control" id="title" name="title" value="{{ request.form['title'] or collection['title'] }}" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-2 control-label">Description</label>
          <div class="col-10">
            <textarea name="description" id="description" class="form-control" rows="10">{{ request.form['description'] or collection['description'] }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-offset-2 col-10">
            <input type="submit" value="Save">
          </div>
        </div>
      </form>
    </div></div>
  </div>
{% endblock %}
