{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h2>
        {% if g.user['id'] == collection['owner_id'] %}
          <a href="{{ url_for('collection.update', id=collection['id']) }}"><i class="fas fa-edit"></i></a>
        {% endif %}
        {{ collection['title'] }} <small>owned by {{ collection['username'] }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{ collection['description'] | markdown }}</p>
      </div>
    </div>

    <div id="collectionItems"></div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

<script type="text/javascript">

var collectionItems = new ItemsViewer('collectionItems',
              {filter:{collection:{{ collection['id'] }} }});

$(function() {
    collectionItems.loadData();
});

</script>
{% endblock %}
