{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Companies</h1>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchCompany">
      </div>
    </div>

    {% if g.user.admin %}
    <div class="row pt-4">
      <div class="col-12">
        <a href="{{ url_for('company.create') }}"><h4><i class="fas fa-plus"></i> Add new company</h4></a>
      </div>
    </div>
    {% endif %}

    {% for row in companies | batch(3) %}
    <div class="row pt-4 companies">
    {% for company in row %}
      <div class="col-1">
          {% if company['logo'] %}
              <img src="{{ url_for('uploads.view', id=company['logo']) }}">
          {% else %}
              <span class="text-muted"><i class="fas fa-industry fa-4x"></i></span>
          {% endif %}
      </div>
      <div class="col-3 company">
        <h3>
          <a class="action" href="{{ url_for('company.view', id=company['id']) }}">
            {{ company['title'] }}</a>
        </h3>
        <p>
          <span class="badge badge-secondary">{{ company.count }} item{% if company.count != 1 %}s{% endif %}</span>
        </p>
      </div>
    {% endfor %}
    </div>
    {% endfor %}

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
  $(document).ready(function(){
      $("#searchCompany").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".company").filter(function() {
              var show = $(this).text().toLowerCase().indexOf(value) > -1;
              $(this).toggle(show);
              $(this).prev().toggle(show);
              if (show) {
                  $(this).parent().toggle(true);
              }
          });
          $(".companies").filter(function() {
              if ($(this).children(':visible').length == 0) {
                  $(this).toggle(false);
              }
          });
      });
  });
  </script>
{% endblock %}
