{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h1>
            {% if logo and 'id' in logo %}
              <img src="{{ url_for('uploads.view', id=logo['id']) }}">
            {% endif %}
            {{ company['title'] }}
            {% if g.user.admin %}
              <a class="action" href="{{ url_for('company.update', id=company['id']) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
          </h1>
        </div>
      </div>

      {% if g.user.admin %}
      <div class="row">
        <div class="col-12">
          <a href="{{ url_for('catalog.create', company=company['id']) }}"><i class="fas fa-plus"></i> Add catalog item manufactured by company</a>
        </div>
      </div>
      {% endif %}

      <div id="catalogCompany"></div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

<script type="text/javascript">

var catalogViewer = new CatalogViewer('catalogCompany', {filter:{company:{{ company['id'] }} }});

$(function() {
    catalogViewer.loadData();
});

</script>

{% endblock %}
