{% extends 'base.html' %}

{% block menu %}
  {% if g.user.admin %}
    <a class="dropdown-item" href="{{ url_for('catalog.create', company=company['id']) }}">Create sub-item</a>
  {% endif %}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h1>
            {% if logo and 'id' in logo %}
              <img src="{{ url_for('uploads.view', id=logo['id']) }}">
            {% endif %}
            {{ company['title'] }}
            {% if g.user.admin %}
              <a class="action" href="{{ url_for('company.update', id=company['id']) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
          </h1>
        </div>
      </div>

      <div id="catalogCompany"></div>
      <script type="text/babel">
        ReactDOM.render(
          <CatalogListSection company="{{ company['id'] }}" title="Manufactured items"/>,
          document.getElementById('catalogCompany')
        );
      </script>

    </div>
  </div>
{% endblock %}
