{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            {% if logo and 'id' in logo %}
              <img src="{{ url_for('uploads.view', id=logo['id']) }}">
            {% endif %}
            {{ company['title'] }}
            {% if g.user.admin %}
              <a class="action" href="{{ url_for('company.update', id=company['id']) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            {% endif %}
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
