{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Catalog</h1>
      </div>
    </div>
    {% if g.user.admin %}
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ url_for('catalog.create') }}"><h4><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new catalog item</h4></a>
      </div>
    </div>
    {% endif %}

    {% include 'catalog/list.html' %}
  </div>
{% endblock %}
