{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Catalog</h1>
      </div>
    </div>
    {% if g.user.admin %}
    <div class="row">
      <div class="col-12">
        <a href="{{ url_for('catalog.create') }}"><h4><i class="fas fa-plus"></i> Create new catalog item</h4></a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Computer families</h2>
      </div>
    </div>

    <div id="catalogComputerFamilies"></div>

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Console families</h2>
      </div>
    </div>

    <div id="catalogConsoleFamilies"></div>

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Calculator families</h2>
      </div>
    </div>

    <div id="catalogCalculatorFamilies"></div>

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Computers</h2>
      </div>
    </div>

    <div id="catalogComputers"></div>

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Consoles</h2>
      </div>
    </div>
    <div id="catalogConsoles"></div>

    <div class="row">
      <div class="col-12">
        <h2 class="pt-4">Calculators</h2>
      </div>
    </div>
    <div id="catalogCalculators"></div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

<script type="text/javascript">

var computerFamilies = new CatalogViewer('catalogComputerFamilies',
    {filter:{type_name:'Computer family', noparent:true}, notype:true});
var consoleFamilies = new CatalogViewer('catalogConsoleFamilies',
    {filter:{type_name:'Console family', noparent:true}, notype:true});
var calculatorFamilies = new CatalogViewer('catalogCalculatorFamilies',
    {filter:{type_name:'Calculator family', noparent:true}, notype:true});

var computers = new CatalogViewer('catalogComputers',
    {filter:{type_name:'Computer'}, notype:true});
var consoles = new CatalogViewer('catalogConsoles',
    {filter:{type_name:'Console'}, notype:true});
var calculators = new CatalogViewer('catalogCalculators',
    {filter:{type_name:'Calculator'}, notype:true});

$(function() {
    computerFamilies.loadData();
    consoleFamilies.loadData();
    calculatorFamilies.loadData();
    computers.loadData();
    consoles.loadData();
    calculators.loadData();
});

</script>

{% endblock %}