{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Catalog</h1>
      </div>
    </div>
    {% if g.user.admin %}
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ url_for('catalog.create') }}"><h4><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new catalog item</h4></a>
      </div>
    </div>
    {% endif %}
    {% for catalog in catalogs %}
    <div class="row">
      <div class="col-xs-12">
        <h1>
          {% if g.user.admin %}
            <a class="action" href="{{ url_for('catalog.update', id=catalog['id']) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
          {% endif %}
          <a class="action" href="{{ url_for('catalog.view', id=catalog['id']) }}">
            {{ catalog['type_title'] }} : {{ catalog['title'] }}</a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ catalog['description'] | markdown }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
