{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row"><div class="page-header">
      <h3>Edit {{ catalog['type_title'] }} : {{ catalog['title'] }}</h3>
    </div></div>
    <div class="row"><div class="col-xs-12">
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title" class="col-xs-2 control-label">Title</label>
          <div class="col-xs-10">
            <input class="form-control" id="title" name="title" value="{{ request.form['title'] or catalog['title'] }}" required>
          </div>
        </div>
        <div class="form-group">
          <label for="type_id" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <select name="type_id" id="type_id">
              {% for ct in catalog_types %}
                <option value="{{ct['id']}}"{% if ct['id']==(request.form['type_id'] or catalog['type_id']) %} SELECTED{% endif %}>
                    {{ct['title']}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="type_id" class="col-xs-2 control-label">Company</label>
          <div class="col-xs-10">
            <select name="company_id" id="company_id">
                <option value="-1">Unknown</option>
                {% for c in companies %}
                <option value="{{c['id']}}"{% if c['id']==(request.form['company_id'] or catalog['company_id']) %} SELECTED{% endif %}>
                    {{c['title']}}
                </option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="catalog_logo" class="col-xs-2 control-label">Logo</label>
          <div class="col-xs-10">
            <input type="file" id="catalog_logo" name="catalog_logo">
          </div>
        </div>
        <div class="form-group">
          <label for="year" class="col-xs-2 control-label">Start of production year</label>
          <div class="col-xs-10">
            <input type="text" name="year" id="year" class="form-control" pattern="[1-2][0-9]{3}" value="{{ request.form['year'] or catalog['year'] }}">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea name="description" id="description" class="form-control" rows="10">{{ request.form['description'] or catalog['description'] }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <input type="submit" value="Save">
          </div>
        </div>
      </form>
    </div></div>
  </div>
{% endblock %}
