{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-10">
          <h1 class="display-4">
            {% if logo and 'id' in logo %}
              <img src="{{ url_for('uploads.view', id=logo['id']) }}">
            {% endif %}
            {{ catalog['type_title'] }} : {{ catalog['title'] }}
            {% if g.user.admin %}
              <a class="action" href="{{ url_for('catalog.update', id=catalog['id']) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
          </h1>
          <p>
            {% if catalog['year'] %}
              <span class="badge badge-secondary">{{ catalog['year'] }}</span>
            {% endif %}
            {% if catalog['company'] %}
              <a class="text-secondary" href="{{ url_for('company.view', id=catalog['company_id']) }}">{{ catalog['company'] }}</a>
            {% endif %}
          </p>
        </div>
        <div class="col-2">
          {% if g.user and catalog['physical'] %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ownModal">I own this</button>
          {% endif %}
        </div>
      </div>

    {% if g.user.admin %}
      <div class="row">
        <div class="col-1">In families</div>
        <div class="col-5">
          <ul id="familiesEditor" class="list-group list-group-flush">
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        <h3>Description</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{ catalog['description'] | markdown }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h3>Catalog item images</h3>
      </div>
      {% if g.user.admin %}
      <div class="col-4">
        <form class="form-inline" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="catalog_photo">Add image</label>
            <input type="file" id="catalog_photo" name="catalog_photo">
          </div>
          <button type="submit" class="btn btn-default">Upload</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Includes catalog items (TODO)</h3>
      </div>
    </div>
    {% if g.user.admin %}
    <div class="row">
      <div class="col-12">
        <a href="{{ url_for('catalog.create', parent=catalog['id']) }}"><i class="fas fa-plus"></i> Add catalog sub-item</a>
      </div>
    </div>
    {% endif %}

    {% for image4 in images | batch(4) %}
    <div class="row">
      {% for image in image4 %}
        <div class="col-3">
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#photoModal" data-whatever="{{ image['id'] }}">
            <div class="thumbnail">
              <img width=230 height=230 src="{{ url_for('uploads.view', id=image['id']) }}">
            </div>
          </button>
        </div>
      {% endfor %}
    </div>
    {% endfor %}

    {% if catalogs %}
      <div class="row">
        <div class="col-12">
          <h3>Includes the following catalog items</h3>
        </div>
      </div>
    {% endif %}
    {% include 'catalog/list.html' %}

    {% if g.user and catalog['physical'] %}
      <div class="row">
        <div class="col-12">
          <h3>Items in your collection</h3>
        </div>
      </div>
      {{ rendered_items | safe }}
    {% endif %}

  <div class="modal fade" id="ownModal" tabindex="-1" role="dialog" aria-labelledby="ownModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-11">
              <h3 class="modal-title" id="ownModalLabel">Confirm the ownership</h3>
            </div>
            <div class="col-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form class="form-inline" method="post" enctype="multipart/form-data" action="{{ url_for('catalog.own', id=catalog['id']) }}" method="post">
            <div class="row"><div class="col-12">
              <div class="form-group">
                <label for="internal_id" class="col-form-label">Internal ID:</label>
                <input type="text" class="form-control" id="internal_id" name="internal_id">
              </div>
            </div></div>
            {% if catalogs %}
              <div class="row"><div class="col-12">
                <h4>Also add items from the kit</h4>
              </div></div>
              {% for catalog in catalogs %}
                {% if catalog['physical'] %}
                  <div class="row"><div class="col-12">
                    <div class="form-group">
                      <input type="checkbox" class="form-control" id="subitem{{ catalog['id'] }}" name="subitem" value="{{ catalog['id'] }}" checked>
                      <label for="subitem{{ catalog['id'] }}" class="col-form-label">{{ catalog['type_title'] }} : {{ catalog['title'] }}</label>
                    </div>
                  </div></div>
                {% endif %}
              {% endfor %}
            {% endif %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add item to collection">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="modal fade" id="modalAddFamily" tabindex="-1" role="dialog" aria-labelledby="modalAddFamilyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddFamilyTitle">Add {{ catalog['type_title'] }} : {{ catalog['title'] }} to the catalog items family</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="modalFamiliesList">
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btnAddCommit">Add</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}

<script type="text/javascript">

function FamiliesEditor(idSelector, options) {
    var $main = $("#" + idSelector);
    var settings = {
        labelRemove: '<i class="fas fa-trash-alt"></i>',
        labelAdd: '<i class="fas fa-plus"></i>',
        textConfirmDelete: 'This link will be deleted. Are you sure?',
        listOptions: { hintCss: {border: '1px dashed #13981D'},
        placeholderCss: {'background-color': 'gray'} }
    };
    $.extend(true, settings, options);
    var options = settings.listOptions;
    /* EVENTS */
    {% if g.user.admin %}
    $(document).on('click', '.btnRemove', function (e) {
        e.preventDefault();
        if (confirm(settings.textConfirmDelete)) {
            var data = $(this).closest('li').data()
            $.post(flask_util.url_for('catalog._family_remove'),
                {id:{{ catalog['id'] }}, family:data.id })
            $(this).closest('li').remove();
        }
    });

    $(document).on('click', '.btnAdd', function (e) {
        e.preventDefault();
        $('#modalAddFamily').modal('show');
    });

    $(document).on('click', '.btnAddCommit', function (e) {
        e.preventDefault();
        $('#modalAddFamily').modal('hide');
        var $list = $('#modalFamiliesList');
        $.post(flask_util.url_for('catalog._family_add'),
            {id:{{ catalog['id'] }}, family:$list.val() },
            function() {
                editor.loadData();
            })
    });
    {% endif %}

    /* PRIVATE METHODS */

    function TButton(attr) {
        return $("<a>").addClass(attr.classCss).addClass('clickable').attr("href", "#").html(attr.text);
    }

    function TButtonGroup() {
        var $divbtn = $('<div>').addClass('btn-group pull-right');
        {% if g.user.admin %}
          var $btnRemv = TButton({classCss: 'btn btn-danger btn-xs btnRemove', text: settings.labelRemove});
          $divbtn.append($btnRemv);
        {% endif %}
        return $divbtn;
    }

    function createItem(data) {
        var $li = $('<li>').addClass('list-group-item d-flex justify-content-between align-items-center');
        $li.data(data);
        return $li
    }

    /**
     * @param {array} arrayItem Object Array
     * @return {object} jQuery Object
     * */
    function createMenu(arrayItem) {
        $.each(arrayItem, function (k, v) {
            var itemObject = $.extend({}, v);
            var $li = createItem(itemObject);
            var $div = $('<div>');
            var $span = $('<a>').addClass('action')
              .attr('href', flask_util.url_for('catalog.view', {id:v.id}))
              .append(v.type_title + ' : ' + v.title);
            var $divbtn = TButtonGroup();
            $div.append($divbtn).append("&nbsp;").append($span);
            $li.append($div);
            $main.append($li);
        });
        {% if g.user.admin %}
          var $divbtn = $('<div>').addClass('btn-group');
          var $btnadd = TButton({classCss: 'btn btn-primary btn-xs btnAdd', text: settings.labelAdd});
          $divbtn.append($btnadd);
          var $li = createItem({});
          var $div = $('<div>');
          var $span = $('<span>').append('Add to family');
          $div.append($divbtn).append('&nbsp;').append($span)
          $li.append($div);
          $main.append($li);
        {% endif %}
    }

    /* PUBLIC METHODS */
    this.add = function(){
        var data = {};
        $form.find('.item-menu').each(function(){
            data[$(this).attr('name')] = $(this).val();
        });
        var btnGroup = TButtonGroup();
        var textItem = $('<span>').addClass('txt').text(data.text);
        var iconItem = $('<i>').addClass(data.icon);
        var div = $('<div>').append(iconItem).append("&nbsp;").append(textItem).append(btnGroup);
        var $li = $("<li>").data(data);
        $li.addClass('list-group-item').append(div);
        $main.append($li);
    };

    this.loadData = function () {
        $main.empty();
        $.getJSON(flask_util.url_for('catalog._families'), {id:{{ catalog['id'] }} },
            function(response) {
                createMenu(response.result);
            }
        )
    };
};

var editor = new FamiliesEditor('familiesEditor', {});

/* Load data into the families editor */
$(function() {
    editor.loadData();

    /* Load families into modal window */
    $('#modalAddFamily').on('show.bs.modal', function (event) {
        $.getJSON(flask_util.url_for('catalog._all_families'),
            function(response) {
                var $list = $('#modalFamiliesList');
                $list.empty();
                $.each(response.result, function(k, v) {
                    $opt = $('<option>').val(v.id).append(v.title);
                    $list.append($opt);
                });
            }
        );
    });

});

</script>
{% endblock %}
