{% set params=catalog %}
{% set entity='catalog' %}

{% extends 'base.html' %}

{% block menu %}
  {% if g.user.admin %}
    <a class="dropdown-item btnAddToKit" href="{{ url_for('catalog.create', parent=catalog['id']) }}">Create sub-item</a>
    <a class="dropdown-item btnAddToKit" data-toggle="modal" data-target="#modalAddItem">Add existing sub-item</a>
  {% endif %}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-1 align-self-center">
          {% if logo and 'id' in logo %}
            <img src="{{ url_for('uploads.view', id=logo['id']) }}">
          {% else %}
            <span class="text-muted"><i class="fas fa-laptop fa-4x"></i></span>
          {% endif %}
        </div>
        <div class="col-9 align-self-center">
          <h1 class="display-4">
            {{ catalog['type_title'] }} : {{ catalog['title'] }}
            {% if g.user.admin %}
              <a class="action" href="{{ url_for('catalog.update', id=catalog['id']) }}"><i class="fas fa-edit"></i></a>
            {% endif %}
          </h1>
          <p>
            {% if catalog['year'] %}
              <span class="badge badge-secondary">{{ catalog['year'] }}</span>
            {% endif %}
            {% if catalog['company'] %}
              <a class="text-secondary" href="{{ url_for('company.view', id=catalog['company_id']) }}">{{ catalog['company'] }}</a>
            {% endif %}
          </p>
        </div>
        <div class="col-2 align-self-center">
          {% if g.user and catalog['physical'] %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ownModal">I own this</button>
          {% endif %}
        </div>
      </div>

    {% if g.user.admin %}
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <ul id="familiesEditor" class="list-group list-group-flush">
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        <h3 class="pt-4">Description</h3>
        <p>{{ catalog['description'] | markdown }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6"> 
        <h3>Catalog item images</h3>
        {% if g.user.admin %}
          {{ upload_files_control('photo_upload', 'Upload') }}
        {% endif %}
      </div>
    </div>

    <div id="imagesList">
    </div>

    {% if catalog['physical'] %}
      <div class="row">
        <div class="col-12">
          <h3 class="pt-4">Kits with this item</h3>
        </div>
      </div>
      {% if g.user.admin %}
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateKit">
            Create new kit
          </button>
        </div>
      </div>
      {% endif %}
      <div id="catalogKits"></div>
    {% endif %}

    <div class="row">
      <div class="col-12">
        <h3 class="pt-4">Includes the following catalog items</h3>
      </div>
    </div>
    <div id="catalogChildren"></div>

    {% if g.user and catalog['physical'] %}
      <div class="row">
        <div class="col-12">
          <h3 class="pt-4">Items in your collections</h3>
        </div>
      </div>

      <div id="ownedItems"></div>
    {% endif %}

  <div class="modal fade" id="ownModal" tabindex="-1" role="dialog" aria-labelledby="ownModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-11">
              <h3 class="modal-title" id="ownModalLabel">Confirm the ownership</h3>
            </div>
            <div class="col-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="post" enctype="multipart/form-data" action="{{ url_for('catalog.own', id=catalog['id']) }}" method="post">
              <div class="form-group row">
                <label for="internal_id" class="col-3 col-form-label">Internal ID:</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="internal_id" name="internal_id">
                </div>
              </div>
              <div class="form-group">
                <h4>Also add next items from the kit</h4>
              </div>
              <div id="ownModalChildren"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add item to collection">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="modalCreateKit" tabindex="-1" role="dialog" aria-labelledby="createKitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createKitModalLabel">Create kit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form class="kitItems" method="post" enctype="multipart/form-data" action="{{ url_for('catalog._create_kit', id=catalog.id) }}">
              <div class="row">
                <label for="main" class="col-3">New kit title</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="title" value="{{ catalog.title }}">
                </div>
              </div>
              <div class="row">
                <label for="main" class="col-3">Main item</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="main" value="{{ catalog.title }}" readonly>
                </div>
              </div>
            </form>
            <div class="row pt-2">
              <div class="col-12">
                <button type="button" class="btn btn-primary btnAddKitItem">Add kit item</button>
              </div>
            </div>          
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btnCreateKit">Create kit</button>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="modal fade" id="modalAddFamily" tabindex="-1" role="dialog" aria-labelledby="modalAddFamilyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddFamilyTitle">Add {{ catalog['type_title'] }} : {{ catalog['title'] }} to the catalog items family</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class="form-control" id="modalFamiliesList">
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btnAddCommit">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalAddItemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddItemTitle">Add existing catalog item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input list="modalCatalogItems" id="modalCatalogItem" class="form-control">
        <datalist id="modalCatalogItems"></datalist>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btnAddExistingItem">Add</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}

<script type="text/javascript">

var catalogViewer = new CatalogViewer('catalogChildren', {filter:{parent:{{ catalog['id'] }} }});
var catalogKits = new CatalogViewer('catalogKits',
    {filter:{type_name:'Kit', includes:{{ catalog['id'] }} }, notype:true});

var itemsOwned = new ItemsViewer('ownedItems',
              {filter:{catalog:{{ catalog['id'] }}, user:{{ g.user['id'] }} }});

function FamiliesEditor(idSelector, options) {
    var $main = $("#" + idSelector);
    var settings = {
        labelRemove: '<i class="fas fa-trash-alt"></i>',
        labelAdd: '<i class="fas fa-plus"></i>',
        textConfirmDelete: 'This link will be deleted. Are you sure?',
        listOptions: { hintCss: {border: '1px dashed #13981D'},
        placeholderCss: {'background-color': 'gray'} }
    };
    $.extend(true, settings, options);
    var options = settings.listOptions;
    /* EVENTS */
    {% if g.user.admin %}
    $(document).on('click', '.btnRemove', function (e) {
        e.preventDefault();
        if (confirm(settings.textConfirmDelete)) {
            var data = $(this).closest('li').data()
            $.post(flask_util.url_for('catalog._family_remove'),
                {id:{{ catalog['id'] }}, family:data.id })
            $(this).closest('li').remove();
        }
    });

    $(document).on('click', '.btnAdd', function (e) {
        e.preventDefault();
        $('#modalAddFamily').modal('show');
    });

    $(document).on('click', '.btnAddCommit', function (e) {
        e.preventDefault();
        $('#modalAddFamily').modal('hide');
        var $list = $('#modalFamiliesList');
        $.post(flask_util.url_for('catalog._relation_add'),
            {id2:{{ catalog['id'] }}, id1:$list.val() },
            function() {
                editor.loadData();
            })
    });
    {% endif %}

    /* PRIVATE METHODS */

    function TButton(attr) {
        return $("<a>").addClass(attr.classCss).addClass('clickable').attr("href", "#").html(attr.text);
    }

    function TButtonGroup() {
        var $divbtn = $('<div>').addClass('btn-group pull-right');
        {% if g.user.admin %}
          var $btnRemv = TButton({classCss: 'btn btn-outline-danger btn-xs btnRemove', text: settings.labelRemove});
          $divbtn.append($btnRemv);
        {% endif %}
        return $divbtn;
    }

    function createItem(data) {
        var $li = $('<li>').addClass('list-group-item border-0 pt-0 pb-1 d-flex justify-content-between align-items-center');
        $li.data(data);
        return $li
    }

    /**
     * @param {array} arrayItem Object Array
     * @return {object} jQuery Object
     * */
    function createMenu(arrayItem) {
        if (arrayItem.length > 0) {
            $main.append('<li class="list-group-item border-0 pt-0 pb-1 d-flex justify-content-between align-items-center"><div>In families</div></li>');
        }
        $.each(arrayItem, function (k, v) {
            var itemObject = $.extend({}, v);
            var $li = createItem(itemObject);
            var $div = $('<div>');
            var $span = $('<a>').addClass('action')
              .attr('href', flask_util.url_for('catalog.view', {id:v.id}))
              .append(v.type_title + ' : ' + v.title);
            var $divbtn = TButtonGroup();
            $div.append($divbtn).append("&nbsp;").append($span);
            $li.append($div);
            $main.append($li);
        });
        {% if g.user.admin %}
          var $divbtn = $('<div>').addClass('btn-group');
          var $btnadd = TButton({classCss: 'btn btn-outline-primary btn-xs btnAdd', text: settings.labelAdd});
          $divbtn.append($btnadd);
          var $li = createItem({});
          var $div = $('<div>');
          var $span = $('<span>').append('Add to family');
          $div.append($divbtn).append('&nbsp;').append($span)
          $li.append($div);
          $main.append($li);
        {% endif %}
    }

    /* PUBLIC METHODS */
    this.add = function(){
        var data = {};
        $form.find('.item-menu').each(function(){
            data[$(this).attr('name')] = $(this).val();
        });
        var btnGroup = TButtonGroup();
        var textItem = $('<span>').addClass('txt').text(data.text);
        var iconItem = $('<i>').addClass(data.icon);
        var div = $('<div>').append(iconItem).append("&nbsp;").append(textItem).append(btnGroup);
        var $li = $("<li>").data(data);
        $li.addClass('list-group-item').append(div);
        $main.append($li);
    };

    this.loadData = function () {
        $main.empty();
        $.getJSON(flask_util.url_for('catalog._families'), {id:{{ catalog['id'] }} },
            function(response) {
                createMenu(response.result);
            }
        )
    };
};
var editor = new FamiliesEditor('familiesEditor', {});


{% if g.user.admin %}
function KitEditor() {
    var $list = $('.kitItems');
    var $types = {};
    var $lastid = 0;
    $('#modalCreateKit').on('show.bs.modal', function (event) {
        $lastid = 0;
        // TODO: delete items
        $.getJSON(flask_util.url_for('catalog._all_types'),
            function(response) {
                $types = {};
                $.each(response.result, function(k, v) {
                    if (v.physical)
                        $types[v.id] = v.title;
                });
            }
        );
    });
    $(document).on('click', '.btnAddKitItem', function (e) {
        e.preventDefault();
        ++$lastid;
        var $div = $('<div>').addClass('row');
        var $div1 = $('<div>').addClass('col-3');
        $div1.append(ItemTypeCombo());
        var $input = $('<input>').addClass('form-control').attr('name', 'title' + $lastid);
        var $div2 = $('<div>').addClass('col-9').append($input);
        $div.append($div1).append($div2);
        $list.append($div);
    });
    $(document).on('click', '.btnCreateKit', function (e) {
        e.preventDefault();
        $list.submit();
    });

    function ItemTypeCombo() {
        var $combo = $('<select>').addClass('form-control').attr('name', 'type' + $lastid);
        $.each($types, function(k, v) {
            var $opt = $('<option>').val(k).append(v);
            $combo.append($opt);
        });
        return $combo;
    }
};

var kitEditor = new KitEditor();
{% endif %}

/* Load data into the families editor */
$(function() {
    editor.loadData();
    catalogViewer.loadData();
    catalogKits.loadData();
    itemsOwned.loadData();

    /* Load families into modal window */
    $('#modalAddFamily').on('show.bs.modal', function (event) {
        $.getJSON(flask_util.url_for('catalog._all_families'),
            function(response) {
                var $list = $('#modalFamiliesList');
                $list.empty();
                $.each(response.result, function(k, v) {
                    $opt = $('<option>').val(v.id).append(v.title);
                    $list.append($opt);
                });
            }
        );
    });

    /* Load families into modal window */
    $('#ownModal').on('show.bs.modal', function (event) {
        $.getJSON(flask_util.url_for('catalog._catalog_filtered'),
            { parent:{{ catalog['id'] }} },
            function(response) {
                var $div = $('#ownModalChildren');
                $div.empty();
                $.each(response.result, function(k, v) {
                    if (v.physical) {
                        $d = $('<div>').addClass('form-check');
                        $d.append('<input type="checkbox" class="form-check-input" id="'
                          + v.id + '" name="subitem" value="' + v.id + '" checked>');
                        $d.append('<label for="subitem' + v.id + '" class="form-check-label">'
                          + v.type_title + ' : ' + v.title + '</label>');
                        $div.append($d);
                    }
                });
            }
        );
    });

    /* Load new items info the add item modal */
    $('#modalCatalogItem').on('input', function(e) {
        var val = $(this).val();
        if (val.length < 3)
            return;
        $.getJSON(flask_util.url_for('catalog._catalog_filtered'),
            { name:val },
            function(response) {
                var datalist = $('#modalCatalogItems');
                datalist.empty();
                $.each(response.result, function(k, v) {
                    if (v.physical) {
                        $opt = $('<option>').attr('id', v.id).
                            val(v.title).text(v.id + ' ' + v.type_title + ' : ' + v.title);
                        datalist.append($opt);
                    }
                });
            }
        );
    });

    /* Add the existing item to the current kit/set/family */
    $(document).on('click', '.btnAddExistingItem', function (e) {
        e.preventDefault();
        var options = $('#modalCatalogItems option');
        if (options.length == 1) {
            $.post(flask_util.url_for('catalog._relation_add'),
                {id1:{{ catalog['id'] }}, id2:options[0].id });
            location.reload();
        } else {
            // TODO: select one from similar names
            alert('Please enter valid and unique catalog item name');
        }
    });
});

</script>
{% endblock %}
