<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  <head>
    <title>{% block title %}Garage shelves{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {%- endblock styles %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Garage shelves</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% macro nav(ep, text) -%}
        <li class="nav-item {% if request.endpoint == ep %}active{% endif %}">
          <a class="nav-link" href="{{ url_for(ep) }}">{{ text }}</a>
        </li>
      {%- endmacro %}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{ nav('index', 'Home') }}
          {{ nav('catalog.index', 'Catalog') }}
          {{ nav('company.index', 'Companies') }}
          {{ nav('collection.index', 'All collections') }}
          {% if g.user %}
            <li class="nav-item">
              <span class="nav-link disabled">{{ g.user['username'] }}</span>
            </li>
            {% if g.user.admin %}
              {# global settings will be here #}
            {% endif %}
            {{ nav('auth.profile', 'Profile') }}
            {{ nav('auth.logout', 'Sign out') }}
          {% else %}
            {{ nav('auth.register', 'Register') }}
            {{ nav('auth.login', 'Login') }}
          {% endif %}
        </ul>
        {#<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>#}
      </div>
    </nav>

    <div class="modal" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg mw-100" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img src="" id="modal-photo-img" class="figure-img img-fluid rounded" width=auto>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% macro select_files_control(id, text, mul=false) -%}
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  {{ text | safe }}<input type="file" name="{{ id }}" id="{{ id }}" class="{{ id }}" style="display: none;" {% if mul %} multiple {% endif %}>
              </span>
          </label>
          <input type="text" class="form-control" readonly>
      </div>
    {%- endmacro %}

    {% macro upload_files_control(id, text, mul=false) -%}
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  {{ text | safe }}<input type="file" name="{{ id }}" id="{{ id }}" class="{{ id }}" style="display: none;" {% if mul %} multiple {% endif %}>
              </span>
          </label>
      </div>
    {%- endmacro %}

    {% block content %}
      <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for cat, msg in messages %}
        <div class="row">
          <div class="col-12">
            <div class="alert alert-{% if cat=='critical' or cat=='error' %}danger{% elif cat=='warning'%}warning{% else %}info{%endif %} {% if dismissible %} alert-dismissible{% endif %}" role="alert">
              {% if dismissible %} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% endif %}
              {{msg}}
            </div>
          </div>
        </div>
        {%- endfor -%}
      {% endif %}
      {% endwith %}
      </div>
    {% endblock content %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {{ flask_util_js.js }}
    <script type="text/javascript">
      $('#photoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        var img = modal.find('#modal-photo-img')
        img.attr('src', flask_util.url_for('uploads.view', {id:id}) )
      });
    </script>
  
    <script type="text/javascript">
      // for custom file attachment
      $(document).on('change', ':file', function() {
          var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

          var input_text = $(this).parents('.input-group').find(':text');
          if (input_text) {
              log = numFiles > 1 ? numFiles + ' files selected' : label;
              input_text.val(log);
          }
          input.trigger('fileselect', [numFiles, label]);
      });
      // append image to the image view
      function appendImage(id) {
          var list = $('#imagesList').children();
          var row;
          var add = false;
          if (list.length > 0) {
              row = list.last("row");
              if (row.children().length == 4)
                  add = true;
          } else {
              add = true;
          }

          if (add) {
              row = $('<div>').addClass('row');
              $('#imagesList').append(row);
          }
          row.append('<div class="col-3"> \
                        <button type="button" class="btn btn-link" data-toggle="modal" \
                               data-target="#photoModal" data-whatever="' + id + '"> \
                          <div class="thumbnail"> \
                            <img width=230 height=230 class="figure-img img-fluid rounded" src="'
                                + flask_util.url_for('uploads.view', {id:id}) + '"> \
                          </div> \
                        </button> \
                      </div> \
          ');
      }
      {% if entity %}
      // Image list support functions
      $(function() {
          if ($('#imagesList')) {
              /* Load images */
              $.getJSON(flask_util.url_for('{{ entity }}._get_images', {id:{{ params['id'] }} }),
                  function(response) {
                      var $list = $('#imagesList');
                      $list.empty();
                      var count = 0;
                      $.each(response.result, function(k, v) {
                          appendImage(v.id);              
                      });
                  }
              );
          }
      });

      $(document).ready( function() {
          $('#photo_upload').on('fileselect', function(event, numFiles, label) {
              var form_data = new FormData();
              form_data.append('img', $('#photo_upload')[0].files[0]);

              $.ajax({
                  type: 'POST',
                  cache: false,
                  processData: false,
                  contentType: false,
                  data: form_data,
                  url: flask_util.url_for('{{ entity }}._upload_image', {id:{{ params['id'] }} }),

                  success: function(data) {
                      /* The data has been sent out successfully. */
                      appendImage(data.result.id);
                  }
              });

          });
      });
      {% endif %}
    </script>

    {%- endblock scripts %}

    <footer class="page-footer font-small pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <p class="text-center"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
          </div>
      </div>
      <div class="footer-copyright text-center">© 2018 Copyright:
        <a href="https://github.com/Dovgalyuk/"> Pavel Dovgalyuk</a>
      </div>
    </footer>
  </body>
</html>
