<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  <head>
    <title>{% block title %}Garage shelves{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {%- endblock styles %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Garage shelves</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% macro nav(ep, text) -%}
        <li class="nav-item {% if request.endpoint == ep %}active{% endif %}">
          <a class="nav-link" href="{{ url_for(ep) }}">{{ text }}</a>
        </li>
      {%- endmacro %}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{ nav('index', 'Home') }}
          {{ nav('catalog.index', 'Catalog') }}
          {{ nav('company.index', 'Companies') }}
          {{ nav('collection.index', 'All collections') }}
          {% if g.user %}
            <li class="nav-item {% if request.endpoint == ep %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('collection.view', id=g.user['col_id']) }}">{{ g.user['username'] }}</a>
            </li>
            {% if g.user.admin %}
              {# global settings will be here #}
            {% endif %}
            {{ nav('auth.profile', 'Profile') }}
            {{ nav('auth.logout', 'Sign out') }}
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="editCatalogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edit catalog
              </a>
              <div class="dropdown-menu" aria-labelledby="editCatalogDropdown">
                <a class="dropdown-item" href="#" id="catalogItemJoin">Join</a>
                {% block menu %}
                {% endblock menu %}
              </div>
            </li>
          {% else %}
            {{ nav('auth.register', 'Register') }}
            {{ nav('auth.login', 'Login') }}
          {% endif %}
        </ul>
        {#<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>#}
      </div>
    </nav>

    {# Photo viewer modal window #}
    <div class="modal" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg mw-100" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% if (item and g.user['id'] == item['owner_id']) or g.user.admin %}
            <button type="button" id="modal-photo-delete" class="btn btn-outline-danger btnDelete" data-dismiss="modal" aria-label="Delete">
              <span aria-hidden="true">Delete image</span>
            </button>
            {% endif %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <img src="" id="modal-photo-img" class="figure-img img-fluid rounded" width=auto>
            </div>
          </div>
        </div>
      </div>
    </div>

    {# Catalog items joiner modal window #}
    {% if g.user.admin %}
    <div class="modal" id="catalogJoinModal" tabindex="-1" role="dialog" aria-labelledby="catalogJoin" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg mw-75" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Join two catalog items</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data" action="{{ url_for('catalog._join') }}">
              <input type=hidden id="id1" name="id1">
              <input type=hidden id="id2" name="id2">
              <input type=hidden id="type1" name="type1">
              <input type=hidden id="type2" name="type2">
              <input type=hidden id="company1" name="company1">
              <input type=hidden id="company2" name="company2">
              <div class="form-group row justify-content-center">
                <label for="title" class="col-2 control-label align-self-center">Title</label>
                <div class="col-5 align-self-center">
                  <p><input class="form-control" id="title1" name="title1" readonly></p>
                  <p><input class="form-control" id="title2" name="title2" readonly></p>
                </div>
                <div class="col-5 align-self-center">
                  <input class="form-control" id="title" name="title" required>
                </div>
              </div>

              <div class="form-group row justify-content-center">
                <label for="logos" class="col-2 control-label align-self-center">Logo</label>
                <div class="col-5 align-self-center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="logos" id="logo1" value="1" checked>
                    <label class="form-check-label" for="logo1">
                    </label>
                  </div>
                </div>
                <div class="col-5 align-self-center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="logos" id="logo2" value="2">
                    <label class="form-check-label" for="logo2">
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row justify-content-center">
                <label for="year" class="col-2 control-label align-self-center">Start of production year</label>
                <div class="col-5 align-self-center">
                  <p><input class="form-control" id="year1" name="year1" readonly></p>
                  <p><input class="form-control" id="year2" name="year2" readonly></p>
                </div>
                <div class="col-5 align-self-center">
                  <input class="form-control" id="year" name="year">
                </div>
              </div>

              <div class="form-group row justify-content-center">
                <label for="description" class="col-2 control-label align-self-center">Description</label>
                <div class="col-5 align-self-center">
                  <p><textarea class="form-control" id="description1" name="description1" rows="5" readonly></textarea></p>
                  <p><textarea class="form-control" id="description2" name="description2" rows="5" readonly></textarea></p>
                </div>
                <div class="col-5 align-self-center">
                  <textarea class="form-control" id="description" name="description" rows="11"></textarea>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" value="Join">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% macro select_files_control(id, text, mul=false) -%}
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  {{ text | safe }}<input type="file" name="{{ id }}" id="{{ id }}" class="{{ id }}" style="display: none;" {% if mul %} multiple {% endif %}>
              </span>
          </label>
          <input type="text" class="form-control" readonly>
      </div>
    {%- endmacro %}

    {% macro upload_files_control(id, text, mul=false) -%}
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-primary">
                  {{ text | safe }}<input type="file" name="{{ id }}" id="{{ id }}" class="{{ id }}" style="display: none;" {% if mul %} multiple {% endif %}>
              </span>
          </label>
      </div>
    {%- endmacro %}

    {% block content %}
      <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for cat, msg in messages %}
        <div class="row">
          <div class="col-12">
            <div class="alert alert-{% if cat=='critical' or cat=='error' %}danger{% elif cat=='warning'%}warning{% else %}info{%endif %} {% if dismissible %} alert-dismissible{% endif %}" role="alert">
              {% if dismissible %} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% endif %}
              {{msg}}
            </div>
          </div>
        </div>
        {%- endfor -%}
      {% endif %}
      {% endwith %}
      </div>
    {% endblock content %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {{ flask_util_js.js }}
    {% if entity %}
    <script type="text/javascript">
      $('#photoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var id = button.data('whatever'); // Extract info from data-* attributes
        var modal = $(this);
        var img = modal.find('#modal-photo-img');
        img.attr('src', flask_util.url_for('uploads.view', {id:id}) );
        img.data('whatever', id);
      });
      $(document).on('click', '#modal-photo-delete', function (e) {
          e.preventDefault();
          if (confirm('Do you really want to delete this image?')) {
              var img = $('#photoModal').find('#modal-photo-img');
              $.getJSON(flask_util.url_for('{{ entity }}._delete_image',
                  {id:{{ params['id'] }}, img: img.data('whatever') }),
                  function(response) {
                      loadImages();
                  }
              );
          }
      });
    </script>
    {% endif %}  
    <script type="text/javascript">
      // for custom file attachment
      $(document).on('change', ':file', function() {
          var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

          var input_text = $(this).parents('.input-group').find(':text');
          if (input_text) {
              log = numFiles > 1 ? numFiles + ' files selected' : label;
              input_text.val(log);
          }
          input.trigger('fileselect', [numFiles, label]);
      });
      // append image to the image view
      function appendImage(id) {
          var list = $('#imagesList').children();
          var row;
          var add = false;
          if (list.length > 0) {
              row = list.last("row");
              if (row.children().length == 4)
                  add = true;
          } else {
              add = true;
          }

          if (add) {
              row = $('<div>').addClass('row');
              $('#imagesList').append(row);
          }
          row.append('<div class="col-3"> \
                        <button type="button" class="btn btn-link" data-toggle="modal" \
                               data-target="#photoModal" data-whatever="' + id + '"> \
                          <div class="thumbnail"> \
                            <img width=230 height=230 class="figure-img img-fluid rounded" src="'
                                + flask_util.url_for('uploads.view', {id:id}) + '"> \
                          </div> \
                        </button> \
                      </div> \
          ');
      }
      {% if entity %}
      // Image list support functions
      function loadImages() {
          if ($('#imagesList')) {
              /* Load images */
              $.getJSON(flask_util.url_for('{{ entity }}._get_images', {id:{{ params['id'] }} }),
                  function(response) {
                      var $list = $('#imagesList');
                      $list.empty();
                      var count = 0;
                      $.each(response.result, function(k, v) {
                          appendImage(v.id);              
                      });
                  }
              );
          }
      }

      $(document).ready( function() {
          loadImages();
      });

      $(document).ready( function() {
          $('#photo_upload').on('fileselect', function(event, numFiles, label) {
              var form_data = new FormData();
              form_data.append('img', $('#photo_upload')[0].files[0]);

              $.ajax({
                  type: 'POST',
                  cache: false,
                  processData: false,
                  contentType: false,
                  data: form_data,
                  url: flask_util.url_for('{{ entity }}._upload_image', {id:{{ params['id'] }} }),

                  success: function(data) {
                      /* The data has been sent out successfully. */
                      appendImage(data.result.id);
                  }
              });

          });
      });
      {% endif %}
    </script>

    <script type="text/javascript">
      // for catalog management
      {% if g.user.admin %}
      $(document).on('click', '.catalogItemLogo', function (e) {
          e.preventDefault();
          var desc = $(this).next();
          var b = 'border border-success';
          if (desc.hasClass(b)) {
              desc.removeClass(b);
          } else {
              desc.addClass(b);
          }
      });

      // button for joining the records
      $(document).on('click', '#catalogItemJoin', function (e) {
          e.preventDefault();
          var sel = $('.catalogItemDesc')
            .filter(function(index) {
                return $(this).hasClass('border');
            });
          if (sel.length != 2) {
              alert("Select two catalog items");
          } else {
              var id1 = sel[0].id;
              var id2 = sel[1].id;
              var modal = $('#catalogJoinModal');
              modal.find('#logo1').next().html($(sel.prev()[0]).children().clone());
              modal.find('#logo2').next().html($(sel.prev()[1]).children().clone());

              $.when(
                $.getJSON(flask_util.url_for('catalog._get', {id:id1}),
                    function(response) {
                        var modal = $('#catalogJoinModal');
                        modal.find('#id1').val(response.result.id);
                        modal.find('#title1').val(response.result.title);
                        modal.find('#year1').val(response.result.year);
                        modal.find('#description1').text(response.result.description);
                        modal.find('#type1').val(response.result.type_id);
                        modal.find('#company1').val(response.result.company_id);
                        modal.find('#title').val(response.result.title);
                        modal.find('#year').val(response.result.year);
                        modal.find('#description').text(response.result.description);
                    }
                ),
                $.getJSON(flask_util.url_for('catalog._get', {id:id2}),
                    function(response) {
                        var modal = $('#catalogJoinModal');
                        modal.find('#id2').val(response.result.id);
                        modal.find('#title2').val(response.result.title);
                        modal.find('#year2').val(response.result.year);
                        modal.find('#description2').text(response.result.description);
                        modal.find('#type2').val(response.result.type_id);
                        modal.find('#company2').val(response.result.company_id);
                    }
                )
              ).then(function() {
                  var modal = $('#catalogJoinModal');
                  if (!modal.find('#year').val()) {
                      modal.find('#year').val(modal.find('#year2').val());
                  }
                  if (!modal.find('#description').text()) {
                      modal.find('#description').text(modal.find('#description2').text());
                  }
                  if (modal.find('#type1').val() != modal.find('#type2').val()) {
                      alert("Type of the items must match");
                      return;
                  }
                  if (modal.find('#company1').val() != modal.find('#company2').val()) {
                      alert("Companies of the items must match");
                      return;
                  }
                  $('#catalogJoinModal').modal();
              });
          }
      });
      {% endif %}
    </script>

    <script type="text/javascript">
      function CatalogViewer(idSelector, options) {
          var $main = $("#" + idSelector);
          var settings = options;

          function createRow() {
              return $('<div>').addClass('row pt-4');
          }

          function createLogo(item) {
              var $div = $('<div>').addClass('col-1 catalogItemLogo');
              if (item.logo) {
                  var $img = $('<img>').attr('src',
                            flask_util.url_for('uploads.view', {id:item.logo}));
                  $div.append($img);
              } else {
                  $div.append('<span class="text-muted"><i class="fas fa-laptop fa-4x"></i></span>');
              }
              return $div;
          }

          function createDesc(item) {
              var $desc = $('<div>').addClass('col-3 catalogItemDesc')
                    .attr('id', item.id);
              var $title = $('<a>').addClass('action')
                    .attr('href', flask_util.url_for('catalog.view', {id:item.id}))
              if (item.type_title && !settings.notype) {
                  $title.append(item.type_title + ' : ');
              }
              $title.append(item.title);
              $desc.append($('<h3>').append($title));
              var $p = $('<p>');
              if (item.year) {
                  $p.append($('<span>').addClass('badge badge-secondary').append(item.year));
              }
              if (item.company) {
                  $p.append(' ');
                  $p.append($('<a>').addClass('text-secondary')
                            .attr('href', flask_util.url_for('company.view', {id:item.company_id}))
                            .append(item.company));
              }
              if (item.count) {
                  $p.append(' ');
                  $p.append($('<span>').addClass('badge badge-secondary')
                            .append(item.count + ' item' + (item.count > 1 ? 's' : '')));
              }
              $desc.append($p);
              return $desc;
          }

          function createItems(arrayItems) {
              var colCnt = 0;
              var $row = createRow();
              $.each(arrayItems, function (k, v) {
                  $row.append(createLogo(v));
                  $row.append(createDesc(v));

                  colCnt = (colCnt + 1) % 3;
                  if (colCnt == 0) {
                      $main.append($row);
                      $row = createRow();
                  }
              });
              $main.append($row);
          }

          /* Public methods */

          this.loadData = function () {
              $main.empty();
              $.getJSON(flask_util.url_for('catalog._catalog_filtered'), settings.filter,
                  function(response) {
                      createItems(response.result);
                      if (response.result.length == 0) {
                          $main.prev().hide();
                      } else {
                          $main.prev().show();
                      }
                  }
              )
          };
      };
    </script>

    <script type="text/javascript">
      function ItemsViewer(idSelector, options) {
          var $main = $("#" + idSelector);
          var settings = options;

          function createRow() {
              return $('<div>').addClass('row pt-4');
          }

          function createLogo(item) {
              var $div = $('<div>').addClass('thumbnail itemLogo');
              if (item.img_id) {
                  var $img = $('<img width=240 height=240>')
                      .addClass("figure-img img-fluid rounded")
                      .attr('src', flask_util.url_for('uploads.view', {id:item.img_id}));
                  $div.append($img);
              } else {
                  $div.append('<span class="text-muted"><i class="fas fa-laptop fa-10x"></i></span>');
              }
              return $div;
          }

          function createDesc(item) {
              var $desc = $('<div>').addClass('itemDesc')
                    .attr('id', item.id);
              var $p = $('<p>');
              if (item.internal_id) {
                  $p.append(item.internal_id + ' ');
              }
              var $title = $('<a>').addClass('action')
                    .attr('href', flask_util.url_for('item.view', {id:item.id}))
              if (item.type_title && !settings.notype) {
                  $title.append(item.type_title + ' : ');
              }
              $title.append(item.title);
              $p.append($('<strong>').append($title));
              $desc.append($p);
              return $desc;
          }

          function createItems(arrayItems) {
              var colCnt = 0;
              var $row = createRow();
              $.each(arrayItems, function (k, v) {
                  $div = $('<div>').addClass('col-3');
                  $div.append(createLogo(v));
                  $div.append(createDesc(v));
                  $row.append($div);

                  colCnt = (colCnt + 1) % 4;
                  if (colCnt == 0) {
                      $main.append($row);
                      $row = createRow();
                  }
              });
              $main.append($row);
          }

          /* Public methods */

          this.loadData = function () {
              $main.empty();
              $.getJSON(flask_util.url_for('item._items_filtered'), settings.filter,
                  function(response) {
                      createItems(response.result);
                      if (response.result.length == 0) {
                          $main.prev().hide();
                      } else {
                          $main.prev().show();
                      }
                  }
              )
          };
      };
    </script>

    {%- endblock scripts %}

    <footer class="page-footer font-small pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <p class="text-center"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
          </div>
      </div>
      <div class="footer-copyright text-center">© 2018 Copyright:
        <a href="https://github.com/Dovgalyuk/"> Pavel Dovgalyuk</a>
      </div>
    </footer>
  </body>
</html>
