{% extends 'base.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

<a href="{{ url_for('collection.index') }}"><h1>All collections</h1></a>
<a href="{{ url_for('concept.index') }}"><h1>All concepts</h1></a>
{% endblock %}
