{% extends 'base.html' %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Manage your tech collection here</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="lead">Register on this site and start adding your collection items.
            You can add pictures and descriptions of your items to present
            your collection.
        </p>
        <p class="lead">All items that you own must refer to the catalog items.
            Catalog items are description of the device classes and managed by admin.
        </p>
      </div>
    </div>
{% endblock %}
