{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h2>Login information</h2>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <h2>Collection information</h2>
    <label for="collection_title">Title</label>
    <input name="collection_title" id="collection_title" required
        value="{{ request.form['collection_title'] }}">
    <label for="collection_description">Description</label>
    <textarea name="collection_description" id="collection_description" required>{{ request.form['collection_description'] }}</textarea>
    <input type="submit" value="Register">
  </form>
{% endblock %}
