{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Concepts</h1>
      </div>
    </div>
    {% if g.user.admin %}
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ url_for('concept.create') }}">Add new concept</a>
      </div>
    </div>
    {% endif %}
    {% for concept in concepts %}
    <div class="row">
      <div class="col-xs-12">
        <h1>
          {% if g.user.admin %}
            <a class="action" href="{{ url_for('concept.update', id=concept['id']) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
          {% endif %}
          <a class="action" href="{{ url_for('concept.view', id=concept['id']) }}">
            {{ concept['type_title'] }} : {{ concept['title'] }}</a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ concept['description'] | markdown }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
