{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3>
        {% if g.user.admin %}
          <a class="action" href="{{ url_for('concept.update', id=concept['id']) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        {% endif %}
        {{ concept['type_title'] }} : {{ concept['title'] }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ concept['description'] | markdown }}</p>
      </div>
    </div>
    {% if concept['physical'] %}
      <div class="row">
        <div class="col-xs-12">
          <a class="action" href="{{ url_for('concept.own', id=concept['id']) }}">I own this</a>
        </div>
      </div>
      {% if g.user %}
        <div class="row">
          <div class="col-xs-12">
            <h2>Items in your collection</h2>
          </div>
        </div>
        {{ rendered_items | safe }}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
