{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ concept['type_title'] }} : {{ concept['title'] }}{% endblock %}</h1>
  {% if g.user.admin %}
    <a class="action" href="{{ url_for('concept.update', id=concept['id']) }}">Edit</a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="collection">
    <p class="description">{{ concept['description'] }}</p>
  </article>
  <a class="action" href="{{ url_for('concept.own', id=concept['id']) }}">I own this</a>
  <h2>Already owned items</h2>
  {% for item in items %}
  <article class="collection">
    <p class="content">{{ item['added'].strftime('%Y-%m-%d') }}</p>
    <p class="description">{{ item['description'] }}</p>
  </article>
  {% endfor %}
{% endblock %}
