{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row"><div class="page-header">
      <h3>Edit item of {{ item['type_title'] }} : {{ item['title'] }}
      </h3>
    </div></div>
    <div class="row">
      <div class="col-9">
        <p>In collection since {{ item['added'].strftime('%Y-%m-%d') }}</p>
      </div>
      <div class="col-3">
        <p>
        {% if g.user['id'] == item['owner_id'] or g.user.admin %}<button class="btn btn-outline-danger btnDelete"><i class="fas fa-trash-alt"></i> Delete this item from the collection</button>{% endif %}
        </p>
      </div>
    </div>
    <div class="row"><div class="col-12">
      <form method="post">
        <div class="form-group row">
          <label for="internal_id" class="col-2 control-label">Internal ID</label>
          <div class="col-10">
            <input class="form-control" id="internal_id" name="internal_id" 
              {% if request.form['internal_id'] or item['internal_id'] %}
                value="{{ request.form['internal_id'] or item['internal_id'] }}"
              {% endif %}
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-2 control-label">Description</label>
          <div class="col-10">
            <textarea name="description" id="description" class="form-control">{{ request.form['description'] or item['description'] }}</textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-offset-2 col-2">
            <input type="submit" value="Save">
          </div>
        </div>
      </form>
    </div></div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).on('click', '.btnDelete', function (e) {
        e.preventDefault();
        if (confirm('Do you really want to delete this item from the collection?')) {
            window.location.replace(flask_util.url_for('item._delete', {id:{{item['id']}} }));
        }
    });
  </script>
{% endblock %}
