{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3><a href="{{ url_for('item.update', id=item['id']) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        Item of {{ item['type_title'] }} : {{ item['title'] }}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>Internal ID {{ item['internal_id'] }}</p>
      </div>
      <div class="col-xs-4">
        <p>In collection since {{ item['added'].strftime('%Y-%m-%d') }}</p>
      </div>
    </div>
    <div class="row"><div class="col-xs-12">
      <p>{{ item['description'] | markdown }}</p>
    </div></div>
  </div>
{% endblock %}
