{% set params=item %}
{% set entity='item' %}

{% extends 'base.html' %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h3 class="pt-4 pb-2">
        Item of <a href="{{ url_for('catalog.view', id=item['catalog_id']) }}">{{ item['type_title'] }} : {{ item['title'] }}</a>
        {% if g.user['id'] == item['owner_id'] or g.user.admin %}<a href="{{ url_for('item.update', id=item['id']) }}"><i class="fas fa-edit"></i></a>{% endif %}
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p>Internal ID {{ item['internal_id'] }}</p>
      </div>
      <div class="col-3">
        <p>In collection since {{ item['added'].strftime('%Y-%m-%d') }}</p>
      </div>
    </div>
    <div class="row"><div class="col-12">
      <p>{{ item['description'] | markdown }}</p>
    </div></div>
    <div class="row">
      <div class="col-12">
        <h4 class="pt-4">Real item photos</h4>
        {% if g.user['id'] == item['owner_id'] %}
          {{ upload_files_control('photo_upload', 'Upload') }}
        {% endif %}
      </div>
    </div>

    <div id="imagesList">
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="pt-4">Included by the item</h4>
      </div>
    </div>

    {{ rendered_parents | safe }}

    <div class="row">
      <div class="col-12">
        <h4 class="pt-4">Includes the items</h4>
      </div>
    </div>

    {{ rendered_children | safe }}
  </div>
{% endblock %}
